form {

margin-top: 20%;




}

.fa-solid {
    font-size: 100px;
border-radius: 10px;
border: #1C1C1C;
border-width: 40px;

 
color: #FFD700;



}

body{

background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwcHBwcGBwcICAcGBwoGBgcGBw8ICQYKFREWFhURExMYHCggGBolGx8TITEhJSkrLi4uFx8zODMsNygtLisBCgoKDQ0NGg0NDisZHxkrKysrKysrLSsrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALwBDAMBIgACEQEDEQH/xAAWAAEBAQAAAAAAAAAAAAAAAAAAAQf/xAAUEAEAAAAAAAAAAAAAAAAAAAAA/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECBQT/xAAVEQEBAAAAAAAAAAAAAAAAAAAAEf/aAAwDAQACEQMRAD8AysB6XPAAAEAAAAAAAAABEAAAAAAAAAEAAAAAAAAQAaaAAAAAAAEAAQAAAAAAAQAAAAAAABAAAAAAABpoAAARAAAAAAAAABAAAAAAAAEAAAAAAAAAAAFUAAAAAAAQAAAAAAABAAAAAAAAAAAAAAUAAAUAEAAAAAAAAAAQAAAAAAAAAAAFAAAAAAAFABAAAAAAEAAAAAAAAAAAAABQAAAAAABQAAAAARAAAAAAAAAAAAAAUAAAAAAAUAAAAAAAAAFUAZZAAAAAAABQAAAAAAAABQAAAAAAAVQAAAAAABlkAAAFAAAAAAAFAAAAAAAAUAUAAAAAAAAAFABhkBBVAAAABAUQBQFAAAAAAUAUAAAAAAAAAAAFEFGURQSAAQAARRAURQAAAQFEAVFARQAAABAUQBRFAAWgAUAFUAAAAAAAAAQACAAIAAAAAEEFEEFARQAAABAVBRH/2Q==);
background-repeat: no-repeat;
background-size:1925px;


}


.form-label{
color: rgb(243, 243, 243);


}

.btn{

width: 40%;
background-color: rgba(51, 73, 71, 0.363);



}

.aula{

background-color: darkgreen;
color: antiquewhite;
width: 40%;

}

.h1{

    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.cadastro {


}

.inicial{


display: flex;
flex-direction: column;
align-items: center;



border: solid 10px white;
border-radius: 50px;
padding: 50px;
margin: 100px;

}


#CadastrarInicial{
background-color: #FFD700;
font-family: Arial, Helvetica, sans-serif;
color: black;
width: 500px;
height: 50px;
margin-bottom: 20px;


}


#lançamento{
background-color:brown;
color: #1C1C1C;
font-family: Arial, Helvetica, sans-serif;
width: 500px;
height: 50px;

}

#TelaInicial{

border: solid 10px white;


}

#a{
    background-color: #34bd28;
}


#voltar{

    background-color: #34bd28;
}

